/* CSS declarations go here */

a {
  text-decoration:none;
  color:black;
}

.status {
  background-color:silver;
}

.status0 {
  background-color:green;
}

.status1 {
  background-color: red;
}

ul li {
  list-style: none;
  padding:10px;
  list-style-position: inside;
  margin-bottom:5px;
}