a {
    text-decoration:none;
    color:black;
    font-size:14px;
}

a:hover {
    color:black;
}
.status {
    background-color:silver;
}

.status0 {
    background-color:lightgreen;
}

.status1 {
    background-color: red;
}

.repo {
    padding:10px 10px;
    margin:5px;
    height:300px;
}

.travis-logo, .scrutinizer-logo {
    height:30px;
    margin:5px;
}

.github-logo {
    height:37px;
    padding-top:5px;
}
h2 {
    font-size: 15px;
}

.links {
    display:block;
    margin:auto;
    padding:auto;
    text-align:center;
    width:auto;
}

.chart {
    clear:both;
    margin:5px;
    padding:10px;
    text-align:center;
    width:auto;
}