a {
    text-decoration:none;
    color:black;
    font-size:14px;
}

a:hover {
    color:black;
}
.status {
    background-color:silver;
}

.status0 {
    background-color:#5cb85c;
}

.status1 {
    background-color: #d9534f;
}

.repo {
    padding:10px 10px;
    border-radius: 10px;
    margin:20px;
    height:200px;
}

.note {
    left: 0px;
    position: relative;
    top: 87px;
    font-weight: bold;
    font-size:18px;
}

.travis-logo, .scrutinizer-logo {
    height:30px;
    margin:5px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.github-logo {
    height:37px;
    padding-top:5px;
}
h2 {
    font-size: 18px;
    margin-top:70px;
}

.links {
    display:block;
    margin:auto;
    padding:auto;
    text-align:center;
    width:auto;
}

.chart {
    clear:both;
    margin: 0px 15px 10px 15px;
    text-align:center;
    width:auto;
    float:left;
}