<head>
    <title>Builds</title>
</head>

<body>
    <div class="container-fluid">
        <h1>PHP CI Watcher</h1>
        <p class="desc">A simple watcher for Travis CI & Scrutinizer CI builds</p>
        <div class="header row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="owner">Enter your github username</label>
                    <input type="text" class="form-control" name="owner" id="owner" placeholder="Your username...">
                </div>
                <button id="submit" class="btn btn-default">Start Watching</button>
            </div>
        </div>

        <div class="row">
            {{#each repos}}
            {{> repo}}
            {{/each}}
        </div>
    </div>

</body>